<section class="about">
  <img src="assets/images/rsp-logo.png" class="bg-logo" alt="" />

  <div class="container">
    <div class="about-wrapper">
      <div class="about-left">
        <div class="circle-bg"></div>

        <img
          src="assets/images/hero.png"
          class="about-person"
          alt="Politician"
        />
      </div>

      <div class="about-right">
        <span class="section-subtitle"> Prakriti Dhakal </span>

        <h2>
          Dedicated to Honest
          <br />
          Leadership & Public Service
        </h2>

        <p>
          Prakriti Dhakal is a Federal Parliament Member of Nepal representing
          the Rastriya Swatantra Party (RSP). She is committed to transparent
          governance, inclusive policy making, and meaningful public
          participation. She is committed to transparent governance, inclusive
          policy making, and meaningful public participation.
        </p>

        <p>
          With years of experience in communications, journalism, and public
          service, she actively works to empower citizens, strengthen democracy,
          and build a better future for Nepal. She is committed to transparent
          governance, inclusive policy making, and meaningful public
          participation.
        </p>

        <a href="#" class="about-btn"> Read More </a>
      </div>
    </div>
  </div>
</section>
