<section class="past-experience-section">
  <div class="experience-map"></div>

  <div class="container">
    <div class="experience-heading">
      <h2>Past Experiences.</h2>
      <p>
        Key milestones that shaped my political career, leadership, and
        dedication to public service.
      </p>
    </div>

    <svg
      class="experience-wave"
      viewBox="0 0 1400 350"
      preserveAspectRatio="none"
    >
      <path
        id="wavePath"
        d="
      M0,180
      C120,40 260,300 420,180
      S720,50 820,180
      S1120,320 1280,180
    "
        fill="none"
        stroke="#0093DA"
        stroke-width="3"
        stroke-linecap="round"
      />

      <!-- Moving dot -->
      <circle r="10" fill="#0093DA">
        <animateMotion dur="20s" repeatCount="indefinite">
          <mpath xlink:href="#wavePath" />
        </animateMotion>
      </circle>
    </svg>

    <div class="experience-items">
      <div class="experience-card card-one">
        <div class="experience-circle">
          <i class="ri-government-fill"></i>
        </div>
        <div class="experience-content">
          <span>2019</span>
          <h3>Program Officer</h3>
          <p>Pokhara Research Center</p>
        </div>
      </div>

      <div class="experience-card card-two">
        <div class="experience-circle">
          <i class="ri-team-fill"></i>
        </div>
        <div class="experience-content">
          <span>2023</span>
          <h3>Executive Director</h3>
          <p>United For Impact</p>
        </div>
      </div>

      <div class="experience-card card-three">
        <div class="experience-circle">
          <i class="ri-award-fill"></i>
        </div>
        <div class="experience-content">
          <span>Present</span>
          <h3>Under Secretary</h3>
          <p>Office of the Prime Minister and Council of Ministers</p>
        </div>
      </div>
    </div>
  </div>
</section>
