<section class="gallery-section">
  <div class="container">
    <div class="section-title">
      <h2>Recent Photos</h2>
      <span></span>
    </div>

    <div class="gallery-slider">
      <button class="gallery-btn prev" id="galleryPrev">
        <i class="ri-arrow-left-s-line"></i>
      </button>

      <div class="gallery-track">
        <div class="gallery-card">
          <img src="assets/images/gallery1.webp" />
        </div>

        <div class="gallery-card">
          <img src="assets/images/gallery2.webp" />
        </div>

        <div class="gallery-card active">
          <img src="assets/images/gallery3.webp" />
        </div>

        <div class="gallery-card">
          <img src="assets/images/gallery4.jpg" />
        </div>

        <div class="gallery-card">
          <img src="assets/images/news1.webp" />
        </div>
      </div>

      <button class="gallery-btn next" id="galleryNext">
        <i class="ri-arrow-right-s-line"></i>
      </button>
    </div>
  </div>
</section>
