<section class="hero">
  <div class="hero-circle"></div>

  <div class="hero-light"></div>

  <div class="container">
    <div class="hero-wrapper">
      <div class="hero-left">
        <div class="party">
          <img src="assets/images/logo.png" />

          <span>Rastriya Swatantra Party</span>
        </div>

        <p class="hello">HELLO!</p>

        <h1>Name Goes Here</h1>

        <h3>Federal Parliament Member</h3>

        <div class="line"></div>

        <p class="description">
          Dedicated to social justice, democratic values, youth empowerment, and
          policy-driven leadership for a better Nepal.
        </p>

        <div class="hero-btns">
          <a href="#" class="btn"> Know More </a>

          <a href="#" class="btn-outline"> Articles </a>
        </div>
      </div>

      <div class="hero-right">
        <img src="assets/images/hero.png" />
      </div>
    </div>
  </div>
</section>
