<header class="header">
  <div class="container">
    <nav class="navbar">
      <a href="#" class="logo">
        <img src="assets/images/logo.png" alt="logo" />
      </a>

      <ul class="nav-links">
        <li><a class="active" href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Articles</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Contact</a></li>
      </ul>

      <div class="social">
        <a href="https://www.instagram.com/"
          ><i class="ri-instagram-line"></i
        ></a>
        <a href="https://www.facebook.com/"><i class="ri-facebook-fill"></i></a>
        <a href="https://www.twitter.com/"><i class="ri-twitter-x-line"></i></a>
      </div>
    </nav>
  </div>
</header>
