<section class="news-section" id="news">
  <div class="news-banner"></div>
  <div class="section-title">
    <h2>Explore News</h2>
    <span></span>
  </div>

  <div class="news-grid">
    <article class="news-card">
      <div class="news-image">
        <img src="assets/images/news1.webp" alt="" />
      </div>

      <div class="news-text">
        <h3>Community Engagement Program</h3>
        <p>
          A productive discussion focused on addressing community needs,
          improving public services and strengthening local development
          initiatives.
        </p>
      </div>
    </article>

    <article class="news-card">
      <div class="news-image">
        <img src="assets/images/news2.webp" alt="" />
      </div>

      <div class="news-text">
        <h3>Participation in Parliamentary Session</h3>
        <p>
          Actively engaging in policy discussions and representing the voices of
          citizens to promote transparent and effective governance.
        </p>
      </div>
    </article>

    <article class="news-card">
      <div class="news-image">
        <img src="assets/images/news3.webp" alt="" />
      </div>

      <div class="news-text">
        <h3>Launching a COmmunity Awareness Campaign</h3>
        <p>
          Supporting social awareness programs that encourage civic
          participation, education and sustainable community development.
        </p>
      </div>
    </article>
  </div>

  <div class="news-btn">
    <a href="news.html">View All</a>
  </div>
</section>
