<section class="journey-section">
  <div class="container">
    <div class="journey-wrapper">
      <div class="journey-left">
        <div class="journey-circle">
          <h2>Political<br />Journey</h2>

          <p>Major milestones throughout the years</p>
        </div>
      </div>

      <div class="journey-right">
        <svg class="journey-path" viewBox="0 0 150 950">
          <path
            d="
                        M90 0
                        C40 120 140 220 90 330
                        C40 470 140 600 90 720
                        C60 820 120 920 90 950
                        "
            fill="none"
            stroke="#C8CDD8"
            stroke-width="4"
          />
        </svg>

        <div class="journey-item item1">
          <div class="circle dark">
            <i class="ri-user-heart-line"></i>
          </div>

          <div class="content">
            <div class="number">2016</div>

            <div>
              <h3>Joined Public Service</h3>

              <p>
                Started serving local communities through youth and social
                initiatives.
              </p>
            </div>
          </div>
        </div>

        <div class="journey-item item2">
          <div class="circle blue">
            <i class="ri-team-line"></i>
          </div>

          <div class="content">
            <div class="number">2018</div>

            <div>
              <h3>Leadership Role</h3>

              <p>
                Led awareness campaigns focusing on women empowerment and
                education.
              </p>
            </div>
          </div>
        </div>

        <div class="journey-item item3">
          <div class="circle gray">
            <i class="ri-government-line"></i>
          </div>

          <div class="content">
            <div class="number">2021</div>

            <div>
              <h3>Community Development</h3>

              <p>Organized municipality development projects.</p>
            </div>
          </div>
        </div>

        <div class="journey-item item4">
          <div class="circle orange">
            <i class="ri-scales-3-line"></i>
          </div>

          <div class="content">
            <div class="number">2024</div>

            <div>
              <h3>Political Leadership</h3>

              <p>Promoted transparent governance and accountability.</p>
            </div>
          </div>
        </div>

        <div class="journey-item item5">
          <div class="circle gold">
            <i class="ri-award-line"></i>
          </div>

          <div class="content">
            <div class="number">2026</div>

            <div>
              <h3>Current Journey</h3>

              <p>Continuing public service with dedication and integrity.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
