<section class="video-section">
  <div class="video-bg"></div>

  <div class="container">
    <div class="section-title">
      <h2>Videos</h2>
      <span></span>
    </div>

    <a href="#" class="view-all-btn"> View All </a>
    <div class="swiper videoSlider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a
            href="https://www.youtube.com/watch?v=I402Ldp6jAY"
            class="video-card"
          >
            <div class="video-image">
              <img src="assets/images/video1.png" />

              <div class="play-btn">▶</div>
            </div>

            <div class="video-content">
              <span>Interview</span>

              <h3>Exclusive Television Interview</h3>
            </div>
          </a>
        </div>

        <!-- CARD 2 -->
        <div class="swiper-slide">
          <a
            href="https://www.youtube.com/watch?v=I402Ldp6jAY"
            class="video-card"
          >
            <div class="video-image">
              <img src="assets/images/video2.png" />

              <div class="play-btn">▶</div>
            </div>

            <div class="video-content">
              <span>Speech</span>

              <h3>Addressing Parliament Session</h3>
            </div>
          </a>
        </div>

        <div class="swiper-slide">
          <a
            href="https://www.youtube.com/watch?v=4JJ39JFt0-k&t=6s"
            class="video-card"
          >
            <div class="video-image">
              <img src="assets/images/video1.png" />

              <div class="play-btn">▶</div>
            </div>

            <div class="video-content">
              <span>Community</span>

              <h3>Public Interaction Program</h3>
            </div>
          </a>
        </div>

        <div class="swiper-slide">
          <a
            href="https://www.youtube.com/watch?v=4JJ39JFt0-k&t=6s"
            class="video-card"
          >
            <div class="video-image">
              <img src="assets/images/video1.png" />

              <div class="play-btn">▶</div>
            </div>

            <div class="video-content">
              <span>Community</span>

              <h3>Public Interaction Program</h3>
            </div>
          </a>
        </div>

        <div class="swiper-slide">
          <a
            href="https://www.youtube.com/watch?v=4JJ39JFt0-k&t=6s"
            class="video-card"
          >
            <div class="video-image">
              <img src="assets/images/video1.png" />

              <div class="play-btn">▶</div>
            </div>

            <div class="video-content">
              <span>Community</span>

              <h3>Public Interaction Program</h3>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="swiper-button-prev"></div>

    <div class="swiper-button-next"></div>
    <br />
  </div>
</section>
