.gallery-section{
    padding:100px 0;
    background:#fff;
    overflow:hidden;
}

.gallery-section .container{
    width:min(1300px,92%);
    margin:auto;
}

.gallery-tag{
    display:block;
    text-align:center;
    color:#0093da;
    font-size:24px;
    margin-bottom:8px;
    font-weight:600;
}

.section-title h2{
    text-align:center;
    font-size:45px;
    color:#006FA3;
    font-weight:800;
    margin-bottom:18px;
    line-height: 1.2;
}

.section-title p{
    text-align:center;
    color:#666;
    font-size:18px;
    max-width:700px;
    margin:auto;
    line-height:1.8;
}


.gallery-slider{
    position:relative;
    margin-top:70px;
    height:520px;
}

.gallery-track{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:0;
    height:100%;
}

.gallery-card{
    width:240px;
    height:330px;
    border-radius:24px;
    overflow:hidden;
    position:relative;
    transition:.6s;
    flex-shrink:0;
}

.gallery-card img{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position: center;
    display:block;
    image-rendering: auto;
}

.gallery-card.active{

    width:420px;

    height:470px;

    z-index:10;

    transform:scale(1.08);

    margin:0 -25px;

    box-shadow:0 25px 60px rgba(0,0,0,.18);

}

.gallery-card.active::before{

    content:"";

    position:absolute;

    inset:15px;

    border:2px solid rgba(255,255,255,.9);

    border-radius:22px;

    z-index:5;

}


.gallery-card:nth-child(1){

    transform:translateX(110px) scale(.82);

    opacity:.65;

    z-index:1;

}

.gallery-card:nth-child(2){

    transform:translateX(55px) scale(.90);

    opacity:.85;

    z-index:2;

}

.gallery-card:nth-child(4){

    transform:translateX(-55px) scale(.90);

    opacity:.85;

    z-index:2;

}

.gallery-card:nth-child(5){

    transform:translateX(-110px) scale(.82);

    opacity:.65;

    z-index:1;

}

.gallery-card:nth-child(6){

    display:none;

}

.gallery-btn{

    width:58px;

    height:58px;

    border:none;

    border-radius:50%;

    background:#005e95;

    color:#fff;

    font-size:26px;

    cursor:pointer;

    position:absolute;

    top:50%;

    transform:translateY(-50%);

    display:flex;

    justify-content:center;

    align-items:center;

    transition:.35s;

    z-index:20;

}

.gallery-btn:hover{

    background:#0093da;

    transform:translateY(-50%) scale(1.1);

}

.gallery-btn.prev{

    left:-30px;

}

.gallery-btn.next{

    right:-30px;

}