.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:999;
    background:rgba(255,255,255,.85);
    backdrop-filter:blur(12px);
    box-shadow:0 10px 30px rgba(0,0,0,.06);
}

.navbar{
    height:90px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.menu-toggle{
    display: none;
}

.logo img{
    width:80px;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:40px;
}

.nav-links a{
    position: relative;
    color:#333;
    text-decoration:none;
    transition:.3s;
}

.nav-links a.active{
    color:#0093DA;
    font-weight:600;
}

.nav-links a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-8px;
    width:0;
    height:3px;
    background:#0093DA;
    transition:.35s;
}

.nav-links a:hover::after,
.nav-links a.active::after{
    width:100%;
}



.nav-links a:hover,
.nav-links .active{
    color:#0093DA;
}

.social{
    display:flex;
    gap:12px;
}

.social a{
    width:42px;
    height:42px;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#0093DA;
    color:#fff;
    border-radius:50%;
    text-decoration:none;
    transition:.3s;
}

.social a:hover{
    transform:translateY(-4px);
}

.nav-links a.active{
    color: #0093DA;
    font-weight: 600;
}

.nav-links a.active::after{
    width: 100%;
}

.menu-toggle{
    display:none;
    cursor:pointer;
}

.menu-toggle i{
    font-size:34px;
    color:#006FA3;
    display:block;
}

@media (max-width:460px){

    .navbar{
        height:70px;
    }

    .logo img{
        width:55px;
    }

    .social{
        display: none;
    }

    .menu-toggle{
        display:block;
        font-size:30px;
        color:#006FA3;
        cursor:pointer;
        z-index: 1001;
    }

   .nav-links{
    position: fixed;
    top: 70px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 25px;
    padding-top: 40px;
    background: #fff;
    transition: left .35s ease;
    z-index: 999;
}

.nav-links.active{
    left: 0;
}

    .nav-links li{
        list-style:none;
}

.nav-links a{
    display:block;
    width:100%;
    padding:12px 0;
    font-size:18px;
    color:#333;
    border-bottom:1px solid #f1f1f1;
    transition:.3s;
}

.nav-links a:hover,
.nav-links a.active{
    color:#0093DA;
    padding-left:10px;
}

}