.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:999;
    background:rgba(255,255,255,.85);
    backdrop-filter:blur(12px);
    box-shadow:0 10px 30px rgba(0,0,0,.06);
}

.navbar{
    height:90px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.menu-toggle{
    display: none;
}

.logo img{
    width:80px;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:40px;
}

.nav-links a{
    text-decoration:none;
    color:#333;
    font-weight:500;
    transition:.3s;
}

.nav-links a:hover,
.nav-links .active{
    color:#0093DA;
}

.social{
    display:flex;
    gap:12px;
}

.social a{
    width:42px;
    height:42px;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#0093DA;
    color:#fff;
    border-radius:50%;
    text-decoration:none;
    transition:.3s;
}

.social a:hover{
    transform:translateY(-4px);
}

.nav-links a.active{
    color: #0093DA;
    font-weight: 600;
}

.nav-links a.active::after{
    width: 100%;
}